[2018-04-06 15:07] lucasvo opened #2 "Allow other hashing functions to be used"

[2018-04-21 15:42] vimukthi-git opened #6 "Support for nested documents"
Hi @lucasvo ,

I have a question regarding `support for nested documents` which I thought may be I could help in implementing. Apologies if creating an issue is not the correct way to reach you for this.

Question:
Do you have an idea/design on how go about implementing this?
My initial idea is that this can be implemented by making `FlattenMessage` recursively go through each struct its encounter

[2018-04-22 09:06] lucasvo commented on #6
The option you're proposing is one of two I am thinking about right now. The alternative would be to create a merkle tree for any nested structure (an embedded object or a list of values). This has a slight security advantage: the length of the merkle proof stays the same for any first-level properties. You can only deduct any information from the length of the proof if the proof is for a nested/a

[2018-04-22 09:07] #2 closed

[2018-04-22 20:49] vimukthi-git commented on #6
I think your alternative structure makes sense from application modelling perspective as well, Since this would provide a way to sensibly link documents/objects that are related instead of embedding all related entities in one message. However this might enable second preimage attack vector where the attacker can embed a merkle tree with a root hash that could prove arbitrary values to be part of

[2018-04-22 21:41] lucasvo commented on #6
Valid concern but it's not a problem if the format of the leaf nodes that can be proven in the tree are of a specific format. Because leaf nodes are always of this format: `H(property,value,salt)` a second preimage attack is not an issue because any easily found second preimage would not match that format.

[2018-06-24 23:37] lucasvo opened #10 "Support `repeated` fields"
We should add support for repeated fields to the Merkle tree generation. The `FlattenMessage` method needs to be extended as follows:

[code]

[code]

In addition we need to update FillSalts to check the length of the specified field and add length + 1 items to the corresponding list in the salts protobuf message. (+1 because the length item in the tree also needs a salt).

[2018-06-24 23:49] lucasvo opened #11 "Exclude/Include protobuf properties"
Supporting a standardized way to exclude certain properties from a merkle tree would be great. We could leverage protobuf options but there is no consistent way to get the extra tags into generated bindings for Go (and other languages).

An option would be the following project: https://github.com/favadi/protoc-go-inject-tag

We could then change FlattenMessage to look for these tags and skip the

[2018-06-27 15:11] pstehlik commented on #11
I would go for the tags to keep in one file (as you suggest) and actually whitelist via a tag - instead of blacklist the fields to exclude.
Then it is really explicit about what will be included and avoid the scenario where something gets added "on accident".

[2018-06-27 21:46] lucasvo commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [Implement feature to ignore fields in precise-proofs](https://trello.com/c/sy8K3ZwZ/133-implement-feature-to-ignore-fields-in-precise-proofs)

[2018-06-27 21:55] lucasvo commented on #11
Well, with an exclude list, you can avoid accidentally leaving something out... I prefer excludes because for our use case (or implement both - should be trivial).

[2018-06-27 21:57] lucasvo commented on #11
We really need to look at how a tag would be implemented in another language though, precise-proofs needs to be something that can also work in other languages.

[2018-06-28 07:02] pstehlik commented on #11
Yes on looking at tags for other languages.  However, if not possible to react on tags in another language one could resort back to having a script that parses the tags and creates an external whitelist from the tags first and then have the other language utilize that list separately.

I strongly disagree with the blacklisting comment. If a developer adds a field they will write tests to make sure

[2018-07-12 08:24] #11 closed

[2018-08-01 21:31] lucasvo commented on #10
![](https://github.trello.services/images/mini-trello-icon.png) [List/repeated fields support in precise-proofs](https://trello.com/c/ydHvtCwk/207-list-repeated-fields-support-in-precise-proofs)

[2018-08-01 22:08] lucasvo commented on #6
I've specified what needs to be done to properly support repeated fields over at #10 The changes will be pretty similar for this issue.

Example protobuf:
[code]

[code]
In addition the FillSalts needs to be adjusted to create instances of FoobarSalts for each embedded document and fill it as well.

[2018-08-01 22:37] lucasvo opened #14 "Change Merkle tree to order hashes"
Given a tree with two leaves (A, B) we can calculate the parent node in two ways:

[code]

Comparing the two ways to construct a tree, there are advantages and disadvantages. Unsorted trees require you to submit not just a list of hashes in a Merkle proof but also of they are the left or the right node in the path so that the verification can correctly concatenate the hash. This allows you to know

[2018-08-09 12:31] mikiquantum commented on #14
Merged: https://github.com/centrifuge/go-merkle/pull/1 and https://github.com/centrifuge/precise-proofs/pull/16

[2018-08-09 12:31] #14 closed

[2018-08-14 04:41] pstehlik opened #17 "Why would we want two ways of creating/sorting the trees?"
Looking at [the option to sort the tree](https://github.com/centrifuge/precise-proofs/blob/9e2d12f6dd1023e98d729d9fa94083482018bd2c/proofs/tree.go#L55) I wonder why would we want to have this as an option and not rather as the default/only implementation?

If we want to promote a standard way to create the proofs where the standard can traverse project boundaries, introducing the options in how to

[2018-08-14 07:43] mikiquantum commented on #17
My understanding of the precise-proof public library is that will not only be used by our merkling of documents but as for anyone that wants to generate merkle trees for proofs.

There are some differences on how to identify a node within the tree that we cannot ensure with the sorted hashes implementation that might be of use case for other users that not necessarily use the library on their code

[2018-08-20 08:50] mikiquantum commented on #10
Being done here: https://github.com/centrifuge/precise-proofs/pull/18

[2018-08-21 15:27] #17 closed

[2018-09-06 14:32] #6 closed

[2018-09-06 14:32] #10 closed

[2018-09-06 14:39] lucasvo opened #23 "HashNode() not called in Generate on nodes that aren't hashed by FlattenMessage"
See the following test case: https://github.com/lucasvo/precise-proofs/commit/91e673cebe8cf0d9c4b0506665a895d1a01ebec6

The last scenario is broken because the hash stays empty. This is not intuitive and I think we should call HashNode() if LeafNode.Hash is all zeroes.

[2018-11-05 10:17] mikiquantum opened #25 "Serlialize Binary values as Hex instead of Base64"

[2018-11-22 08:54] #25 closed

[2018-11-23 09:59] lucasvo opened #29 "Implement option to use field number instead of name to construct property name"
Instead of using the field names to concatenate the property we should explore using the field numbers used in protobufs internal serialization format. This has a major advantage that those identifiers are potentially much shorter and easier to check against (especially in zero knowledge proofs).

By using fixed length integers we can get rid of using field delimiters and can greatly simplify the

[2018-11-29 16:41] lucasvo commented on #29
@andremarianiello thanks for your interest. Your solution is correct. When "encoding the path", it's not just a string with the numbers but the actual bytes are encoded. I.e. first 32 bytes are for the first level, second 32 bytes are for the 2nd level etc. If I read your proposal correctly, you already understood it this way. Correct?

If you would like to reach out to any of us, feel free to joi

[2018-11-29 16:47] andremarianiello commented on #29
@lucasvo (assuming you meant 32 bits not 32 bytes) Yes, that is how I understood it. That is why I mentioned little-endian and big-endian encodings (and not ascii, haha).

[2018-11-29 17:14] lucasvo commented on #29
@andremarianiello Actually thinking about this a bit more, we should use 64**bits**. Here's the reason: When encoding a field and using an array the index of the field should be encoded. For this 32bits might not be enough. This will double the length of the property bytes but I think that's an ok tradeoff.

[2018-11-30 00:56] andremarianiello commented on #29
@lucasvo 64-bits is fine. It should be easy to change either way. I have another question though: since there are leaf nodes representing the lengths of repeated fields, how should a property like `names.length` be encoded? Using your example

[code]

We could do
[code]
Would this be too unintuitive?

[2018-11-30 06:13] andremarianiello commented on #29
Most of the implementation is done and available for review. Includes property derivation refactoring and some options for using compact property names. Pre-existing tests have been updated to work with the refactor, but I have not yet added tests for the compact name functionality.

[2018-11-30 06:31] andremarianiello commented on #29
Most of the implementation is done and available for review. Includes property derivation refactoring and some options for using compact property names. Pre-existing tests have been updated to work with the refactor, but I have not yet added tests for the compact name functionality.

[2018-11-30 07:40] lucasvo commented on #29
about the length, yes that convention is fine. Could you make sure you add a clear comment to it. Perhaps it makes sense to describe the encoding in the readme as well?

I will review the code later today!

[2018-11-30 16:48] lucasvo commented on #29
I just reviewed the code and added a few comments. I've also put a smaller bounty on #23 in case you want to address this as well.

The one feature that should still be added is to create a generic helper that based on the protobuf message implementation in Go and a byte slice can return a human readable value and vice versa. This is mostly needed to render those proofs in a human readable way. I

[2018-12-01 18:43] andremarianiello commented on #29
@lucasvo I don't plan on working on those issues while the PR for this issue is still in flux, but I can look at them after.

[2018-12-04 07:41] lucasvo opened #31 "Support fixed length mappings"
Protobuf mappings are currently not supported. This ticket should add support for mappings.

To keep supporting the fixed length compact property prefix (addressed in #29) we can only support mappings with a fixed length key. This ticket is to add support for mappings with fixed length keys. Fixed length types (int, uint, etc.) should be supported out of the box.

However we need a way to support

[2018-12-04 15:53] nasehim7 commented on #31
Hey @lucasvo
I'm trying to join the channel to have a discussion with you on this further but the slack link is not active. Can you please help me with that?

[2018-12-04 16:57] lucasvo commented on #31
@nasehim7 Here's the proper link https://join.slack.com/t/centrifuge-io/shared_invite/enQtNDk1MzkwODM4OTgxLWRlNTU4NDQzOWIwYWEzNGRhN2UzMzQwNThjZjI0ZmIxMTU4NmQwMjc2ZDBkOTEyNWJhMjE4MzA2NTE5MWU1NWE

[2018-12-04 21:50] lucasvo opened #33 "When using compact property names, the tree should be sorted by the numerical property"
This depends on #30. Before calculating the Merkle tree, all leaves are sorted lexicographically by the property string even when the tree is built using numerical names. LeafNodeList is a sortable list that currently is not able to sort by numerical name instead of of string name. This option should be implemented and when the tree is generated with the compact option enabled, it should sort by b

[2018-12-04 21:51] lucasvo opened #34 "Create converter to/from numerical and string properties"

[2018-12-05 07:03] #23 closed

[2018-12-05 07:12] lucasvo commented on #23
@zyfrank Thanks for completing the bounty. Can you submit the work again with a link to the PR so I can pay it out? Gitcoin doesn't have any submitted work at the moment so I can't close the bounty.

[2018-12-05 09:40] zyfrank commented on #23
Ok, sure
thanks Lucas

________________________________
发件人: Lucas Vogelsang <notifications@github.com>
发送时间: 2018年12月5日 7:12
收件人: centrifuge/precise-proofs
抄送: zyfrank; Mention
主题: Re: [centrifuge/precise-proofs] HashNode() not called in Generate on nodes that aren't hashed by FlattenMessage (#23)

@zyfrank<https://github.com/zyfrank> Thanks for completing the bounty. Can you submit the work agai

[2018-12-07 02:59] #29 closed

[2018-12-07 14:30] #33 closed

[2018-12-10 18:00] andremarianiello commented on #31
@gitcoinbot I have already submitted a WIP PR

[2018-12-16 04:16] zyfrank commented on #31
just curious of not using "{}" instead of "[]"

[2018-12-16 11:05] lucasvo commented on #31
@zyfrank, most properties are accessed with `[]` in your typical programming language. Usually the contents are also put in `""` but that's not really necessary, though we could do so.

[2018-12-19 08:56] lucasvo opened #38 "Support OneOf"
We should add support to the `OneOf` feature of protobuf. When encoding `OneOf` properties we should only add one leaf to the tree for each field.

[code]

This issue has a gitcoin bounty attached to it. If you'd like to start working on it, feel free to reach out to me (lucas@centrifuge.io) directly, join our slack channel `#bounties` on our [slack](https://join.slack.com/t/centrifuge-io/shared_i

[2018-12-19 16:00] lucasvo commented on #31
@andremarianiello & @zyfrank, we need to fix the binary format variable length mappings so that @zyfrank can implement the JS wrapper for parsing it.

I propose we implement support for mappings of `bytes->(any type)` using a message like this:

[code]

The code would then work as follows:

1) Ensure that there is only one value for each `key` and return an error if there are multiple
2) Pick the

[2018-12-20 08:32] zyfrank commented on #31
@lucasvo @andremarianiello
as far as js transformer between compacts and readable name is concerned,
I want to make sure i 'm at the same page with you.

following is my understanding:
currently we have 2 options for mapping concept.
**option 1:**
1 use map<string, MessgeType> to implement string=>Anything
2 use map<uint*, MessgeType> to implement uint*=>Anything
3 use repeated KeyValue to impleme

[2018-12-20 13:34] lucasvo commented on #31
Actually the one type we can not support in all of this is: `map<string, anything>` because we need to have the key to have a fixed length. For this we need to add use another extension:

[code]

[2018-12-23 13:01] zyfrank commented on #31
@lucasvo
Take a look at WIP PR provided by @andremarianiello<https://github.com/andremarianiello> , Seems mapping rule between readable name and compacts component for items of a proto map is not defined yet.   js helper need those rules to support proto map. Not sure current status of Support fixed length mappings (#31)

________________________________
发件人: Lucas Vogelsang <notifications@github.

[2018-12-25 08:51] lucasvo commented on #31
@zyfrank, Andre or I will implement the go side but that shouldn't keep you from implementing it according to the code sample I added in the comment above, right? It's fine if you commit your code before, if there are any incompatibilities in the format, we'll fix it when committing Andre's code.

[2019-01-02 15:31] alexeyneu commented on #38
may be you mean one_per_definition , not one_per_field?

[2019-01-06 16:45] lucasvo opened #40 "Switch length suffix to snake_case"
`snake_case` is the protobuf standard for field names, therefore we should change the default length suffix to `_length` instead of `Length`

[2019-01-09 11:42] lucasvo opened #43 "Store salts in simple mapping instead of custom protobuf Messages"
We currently require a "Salted" message to be created for each protobuf message that we have. The overhead for creating these additional objects is annoying and they are not particularly useful outside of the scope of precise-proofs. I'm proposing a different format for storing the salt values that doesn't require us to create these extra structs and pass them around in code.

We could store the s

[2019-01-09 12:09] stefanhans commented on #34
I have analyzed and played around a bit...
[code]

Calling
[code]

returns
[code]

Am I on the right track?

[2019-01-09 13:05] lucasvo commented on #34
Yes, this looks good. Now the only thing that is missing are all the other edge cases, like nesting & repeated fields ;)

[2019-01-09 14:03] iamonuwa commented on #43
@lucasvo please send a new link to join slack. The link seems to have expired.

[2019-01-09 15:34] lucasvo commented on #43
@iamonuwa here you go: https://join.slack.com/t/centrifuge-io/shared_invite/enQtNDk1MzkwODM4OTgxLWRlNTU4NDQzOWIwYWEzNGRhN2UzMzQwNThjZjI0ZmIxMTU4NmQwMjc2ZDBkOTEyNWJhMjE4MzA2NTE5MWU1NWE

[2019-01-10 11:58] stefanhans commented on #34
- Let's  say we have this structure
[code]
valid conversions?
[code]
- Let's  say we have that structure
[code]
valid conversions?
[code]
or
[code]

[Details](https://github.com/stefanhans/precise-proofs/tree/master/examples)

[2019-01-10 17:05] vedhavyas opened #44 "parsing proto struct tag"
We seem to assume that the `name=<fieldname>` is the 3 element but as per the docs [here](https://github.com/golang/protobuf/blob/master/protoc-gen-go/generator/generator.go#L1458), there is an optional `packed` tag in the 3rd pushing `name` to 4th.

Example:
`protobuf:"varint,2,rep,packed,name=roles,proto3" json:"roles,omitempty"`

[2019-01-10 17:33] #44 closed

[2019-01-12 20:47] lucasvo commented on #34
For starters, I think you are using uint64 instead of uint32 for protobuf tag numbers.  Additionally, phone is a repeated field in your example. This means that `phone.type` is actually an invalid tag. A valid tag would be: `phone[0].type`. `phone` itself would never be used either as it would always have to be `phone[0].XXX`

Additionally it looks like you are off by one. Phone's tag number is 13

[2019-01-13 10:44] stefanhans commented on #34
There is
[code]
at the core of the converter, isn't it?

We walk through the protobuffer message type via reflect to convert the path of the structure to the matching node, right?

This leads us to the bijective function of the converter. But this is not sufficient. There are other pieces of code using the converter output, right?

[2019-01-13 22:34] lucasvo commented on #34
These properties are built by iterating over all of the fields in an instance of the struct. So this works only when the exact instance of the struct is available. The converter must work solely by having access to the Protobuf struct, not an instance of it. This should example should make it clear:

[code]

Without an instance of the struct, you wouldn't know what the length of `field` is (if it

[2019-01-14 02:45] alexeyneu commented on #38
https://github.com/centrifuge/precise-proofs/pull/49

[2019-01-14 07:01] stefanhans commented on #34
Thx, I'll work on tomorrow.

[2019-01-14 11:07] zyfrank commented on #43
@lucasvo  actually,  I think ` map<CompactProperty,[32]byte>` is  also not needed. Salts is used to prevent rainbow guess, currently in the code base I do not find that user of precise has the requirement to customize salts.
My solution is : during the process of flatten, when appendLeave is met, fed it with random salts.
Also every LeafNode contain different random salts.
If customization is need

[2019-01-14 17:12] lucasvo commented on #43
The salts are needed to avoid rainbow lookups for neigboughoring leaves when creating proofs. They need to be persisted so that when two different computers reconstruct the Merkle tree, that they use the same salts.

[2019-01-14 17:39] zyfrank commented on #43
LeafNode already hold the salt belong to itself.  When proof of a LeadNode is transfered to outside, corresonding salt can be obtained .

By random， I mean different LeafNode has different salt just as current implementation. But during one flatten session(proof generation session), every LeafNode has determined one salt.

[2019-01-14 17:53] lucasvo commented on #43
LeafNode is not persisted so when at a later point in time, for the same message another Merkle proof would be generated, the Merkle root would be different because the salts used are different. This defeats the purpose of committing to a Merkle root initially and then creating a proof at a later point in time.

Generating the tree based the original message should be deterministic.

[2019-01-14 17:54] lucasvo commented on #43
To clarify: because building a tree should be repeatable, the salts used need to be persisted as well. That's what we used the "SaltedMessage" for in the past but this can be simplified to just a dictionary.

[2019-01-14 18:18] zyfrank commented on #43
Ok, get the scenario

[2019-01-17 15:46] stefanhans commented on #34
Test for all used types and nested combinations finished (100% coverage)

Generalized test "only a message type needed" mostly written - during that I've found combinations not covered

Problems with the dev environment and protobuffer

i.e. under examples/documents:`
protoc -I $GOPATH/src/github.com/stefanhans/precise-proofs -I . --go_out=. example.proto`
compiles
under examples
`go build` says

[2019-01-17 15:51] stefanhans commented on #34
[details](https://github.com/stefanhans/precise-proofs/tree/master/examples)

[2019-01-18 10:00] zyfrank commented on #43
Thanks @lucasvo
I really think what you are doing is a big thing

________________________________
发件人: Gitcoin.co Bot <notifications@github.com>
发送时间: 2019年1月18日 9:27
收件人: centrifuge/precise-proofs
抄送: zyfrank; Mention
主题: Re: [centrifuge/precise-proofs] Store salts in simple mapping instead of custom protobuf Messages (#43)

[Go Developer] <https://gitcoin.co/kudos/108/go_developer>      ⚡️ A *G

[2019-01-18 10:47] lucasvo opened #51 "Store salts in message"
If we refactor the way salts are added and nodes are hashed, we could simplify how salts are stored. FlattenMessage already sorts all leaves by property so a sorted list of slices could be used for storing salts however this would require refactoring the flattener to pick salts from this list after the items have been sorted and not at creation.

[2019-01-18 10:51] lucasvo commented on #51
NB: Due to limitations with go's hashmaps the current "map" is actually a slice of key/value structs. The proposed change would be to change it to [][32]byte.

[2019-01-18 10:54] zyfrank commented on #51
I'll try to figure out this

[2019-01-18 11:00] lucasvo commented on #40
This change was done, but the variable name is confusing, DefaultSaltsLenghtSuffix is not actually used with salts anymore.

[2019-01-18 11:03] lucasvo commented on #51
@zyfrank, I didn't want to pull you into this but I had the idea when reviewing your PR. I'm still not 100% certain we actually want to implement this though. For now it's not worth the benefit. I will definitely let you know if we have other issues to work on!

[2019-01-18 11:07] zyfrank commented on #40
Actually, I think may be the name can be "DefaultLengthName", because it contains no salt and it is not suffix anymore,

If you think this is a right choice, I can make a PR quickly

________________________________
发件人: Lucas Vogelsang <notifications@github.com>
发送时间: 2019年1月18日 11:00
收件人: centrifuge/precise-proofs
抄送: Subscribed
主题: Re: [centrifuge/precise-proofs] Switch length suffix to snake_c

[2019-01-23 07:05] stefanhans commented on #34
I had found a bug in the converter and I've decided to change to TDD.

So, I've worked on a testing environment, i.e. tests which
- accept any protobuf message type
- create a slice of strings containing any literal property
- do a forward-backward test for each string literal

It is a bit frustrating to find some missing cases (or little bugs),  create or edit message types, add test cases, and t

[2019-01-23 19:06] lucasvo commented on #34
I think the approach is good, the one thing that would be great is if you could use the existing example.proto messages to build the test cases. The rest of the library is built with it, those should be used as well for the converter of creating new ones.

To generate the go bindings, check out the `go:generate` instruction:
https://github.com/centrifuge/precise-proofs/blob/master/examples/documen

[2019-01-24 15:03] stefanhans commented on #34
Hi Lucas,

I've not covered all test cases 😰 But I'm getting closer.

I've tried to solve the environment problem and came up

- having a fresh clone "github.com/centrifuge/precise-proofs"

- changed the import "proofs/proto/proof.proto"; to import "
github.com/centrifuge/precise-proofs/proofs/proto/proof.proto";

Next week I will

- finish the GetLiteralPaths which provides all literal properties

[2019-01-28 13:53] lucasvo commented on #51
@zyfrank are you interested in implementing this? We're considering putting a bounty on this.

[2019-01-28 14:38] zyfrank commented on #51
@lucasvo  I'd like to make those projects better

[2019-01-29 13:20] lucasvo commented on #51
@zyfrank we'll have to change the scope of this ticket a little bit. I will add more comments in the next couple of hours but wanted to give you a heads up as early as possible. Namely we have a problem using a simple slice but found some other tweaks we want to do that are related.

[2019-01-29 13:39] lucasvo commented on #51
Ok, here are the details: when adding a leaf in the middle of the tree, that would lead to all other hashes to change. Because we want to switch to only transmitting partial updates of larger trees to other parties, this would not be possible without the salts changing for every change in the tree. Therefore we decided (a bit last minute, I apologize for that) to not implement this. However there

[2019-01-29 14:59] zyfrank commented on #51
so you mean in the future, every message should contain a `repeated Salt salts` field.
and  after flattening, client of precise will obtain salts from this field so it can persist
and currently we need not consider the order of salt for every field in one message ?

[2019-01-30 07:22] vimukthi-git commented on #51
@lucasvo I think its better to name the function just `TreeOptions.Salts` instead of `TreeOptions.GetSalt`. Since its the go convention.

cc @zyfrank

[2019-02-01 10:11] lucasvo commented on #51
@zyfrank either one is fine I believe. I don't think we need to refactor this as it doesn't hurt doing it during flattening.

Happy New year @zyfrank! You have a  🔴 ✉️ in your account: https://opensea.io/assets/0x580a29fa60b86aaff102743de5cba60bb5f9de75/12 (check out https://radi.cards/account)

[2019-02-01 10:56] stefanhans commented on #34
I did some work today. I'm still a bit sick. It was not very effective 😞

Concerning the message type NestedMap, are this all literal properties?

"value[0]"
"value[0].value[0]"
"value[0].value[0].value"

[2019-02-02 08:14] lucasvo commented on #51
Could you please address #40 as part of this as well? The value right now is `length` but it should be `_length`

[2019-02-02 08:16] lucasvo commented on #38
This is implemented in #49

[2019-02-02 08:37] lucasvo opened #55 "Flattener Improvements: No salt and Append fields when flattening embedded messages"
We have the use case that for ease of use we want to split a field up into different fields when working with them but there is no need for ever creating a proof for such a field.

In addition certain fields contain randomly generated values that salting these values is not necessary as a rainbow table lookup of them would be useless. The option no_salt should indicate that the field does not need

[2019-02-02 17:59] zyfrank commented on #51
@lucasvo  no problem
thanks for the gift card

[2019-02-04 12:52] stefanhans commented on #34
I do exclude recursion and return an error, e.g.

[code]
`
error: documentspb.ExampleOfRecursiveStruct is a recursive struct
`

[2019-02-04 14:38] lucasvo commented on #34
Did you already submit a "WiP PR"? That's usually easiest to see what the status is so far.

[2019-02-04 21:19] #38 closed

[2019-02-05 06:14] stefanhans commented on #34
Not yet. I did not want to spam with my code before I'm sure how to design the converter.

Actually, I did a fresh start after ending up with a too much confusing design. Maybe I'm overdoing it. But if the code is not maintainable before it's done, I hesitate to finish it anyhow. Especially, if I do not know how far I have to go still.

[2019-02-08 10:17] lucasvo opened #57 "Encoding values to bytes instead of strings"
We've been moving away from using precise-proofs with the idea that the leaves in the tree are human readable. We have recently done a refactor to encode the properties in a more compact byte format and would also switch to using the unencoded byte representation for the value.

The following changes should be made:
1) Change the `Leaf` struct to have store the value as `[]byte`
2) Change the flat

[2019-02-08 10:24] lucasvo commented on #57
It could potentially make sense to implement this before #55 is implemented.

[2019-02-08 11:37] zyfrank commented on #51
@gitcoinbot still work on it

[2019-02-08 17:53] mikiquantum opened #59 "Cannot generate a tree of single leaf"
[code]
Document used: https://github.com/centrifuge/precise-proofs/blob/4b2df6595f0b4e119ce20df5d9f1bac358c8589e/examples/documents/example.proto#L65

Fails at generation time with (`doctree.Generate()`):
[code]

Expected behavior:

Be able to create a tree of a single leaf.

[2019-02-09 11:21] mikiquantum commented on #59
@lucasvo Fix https://github.com/mikiquantum/go-merkle/commit/9a8290da4794e86e430f8e9494b9c11627bace21
The current go-merkle implementation does not support a single leaf tree due to the line removed in the above commit.
There are two approaches to fix this:
- Tree height for a 1 node tree is 1 (root node)
- Tree height for a 1 node tree is 2 (root node + leaf). In which case we need to change the

[2019-02-09 20:02] lucasvo commented on #59
@mikiquantum I think the first option is the better solution. It doesn't make sense to hash a hash again to get a root.

[2019-02-10 08:26] #57 closed

[2019-02-12 09:51] mikiquantum commented on #59
Fixed by: https://github.com/centrifuge/precise-proofs/pull/61

[2019-02-12 09:51] #59 closed

[2019-02-12 10:28] lucasvo opened #62 "CreateProof should support literal and compact properties"
The following method should be duplicated to allow both creation of proofs by literal names (what is implemented now) and compact property names.

https://github.com/centrifuge/precise-proofs/blob/master/proofs/tree.go#L392

[2019-02-12 10:32] mikiquantum opened #63 "Compile precise-proofs to WebAssembly"
We would like to translate the precise-proof go library into [wasm](https://github.com/golang/go/wiki/WebAssembly), so it can be imported and used in browser setups.

Some of the main advantages are avoiding code duplication and feature parity.
Let's keep an eye on performance as a potential downside.

The goal of this bounty is to create a working prototype but it doesn’t need to be production qu

[2019-02-14 16:14] lucasvo commented on #55
@rstms I have not heard from you in the past 7 days. I'm considering giving the bounty to someone else if I don't get confirmation in the next 24hrs that you are still working on this bounty.

[2019-02-14 16:33] rstms commented on #55
I'm indeed working on this.  I understand if you need to move along, with someone else, but I'd like to get a PR for you.   So far I've completed these steps:
* study the documentation
* clone the repo
* build the project on my development environment
* run the tests
* design the modifications to the data structures required to satisfy the issue requirements
* add a test case for the new logic
* r

[2019-02-14 16:52] rstms commented on #55
I have some questions about the protobuf build mechanism used in this project  (Apologies if these are dumb questions - I'm working on getting un-confused)   Can anyone point me in the direction of some documentation that will help clarify these?

There's a file `prototool.yaml` in the root, but I don't see where prototool gets called by any script.  Is it done manually, or is there some other mec

[2019-02-15 08:36] zyfrank commented on #51
@gitcoinbot still work on it

[2019-02-15 16:14] lucasvo commented on #55
Prototool is called manually indeed (and that's not really ideal). We use prototools to build `proofs/proto/` but we should also generate the example protobufs with it. I can try to fix this or if you want to add examples to prototools that would be fine with me too.

[2019-02-15 16:16] lucasvo commented on #55
@rstms, I think extensions force using version2 because they are not in version 3. Can you try changing to proto2?

[2019-02-15 16:19] rstms commented on #55
I'll try changing to proto2 and see if that changes the output file's ProtoPackageIsVersion2...

[2019-02-15 16:31] rstms commented on #55
I changed the first line of `proofs/proofs/proof.proto` to read `syntax = "proto2";`
Then I compiled with this command: `protoc --go_out=. proof.proto`
I had to modify the file to get the compilation to succeed (adding 'optional/required' modifiers)
The output file `proof.pb.go` still contains `ProtoPackageIsVersion3` --- so I think this proves that the ProtoPackageIsVersion doesn't refer to the s

[2019-02-15 18:05] lucasvo commented on #55
@rstms yes, that is indeed the problem. If the output varies, you're using the wrong protoc binary. We should use what prototools is configured to run with. Did you run it with prototools?

[2019-02-16 15:58] lucasvo commented on #55
@rstms I just ran prototools and added a note to the README. I just merged the PR for this (#64)

[2019-02-21 15:36] lucasvo commented on #51
Hi @zyfrank Do you already have an implementation of this in progress? It would be great to know when this is getting finished!

[2019-02-22 15:46] #63 closed

[2019-02-22 16:03] zyfrank commented on #51
@lucasvo  I  hope it can be finished in one or two weeks

[2019-02-25 13:06] #62 closed

[2019-02-28 04:33] rstms commented on #55
I've had some personal life blockers preventing my progress on this issue.  I'd still like to work on this issue if time permits.  I can get back to it in about a week.  If you need to close the issue and have someone else work on it I understand.  I'd like to see it through if that doesn't present a problem for the project.

[2019-02-28 15:02] zyfrank commented on #51
@gitcoinbot still work on it

[2019-03-01 18:40] lucasvo commented on #55
@rstms, timing wise two weeks is going to be tough. @vedhavyas started with it already and pushed his changes.

[2019-03-01 19:02] rstms commented on #55
I understand.  Sorry for the bad timing.

[2019-03-04 03:04] #40 closed

[2019-03-04 03:04] #51 closed

[2019-03-29 08:39] rdinicut opened #74 "Hidden Implementation in field values"
Precise proofs converts all values in bytes and only way to know to convert them to usable/human readable type is by hardcoding the field properties:
[code]
Taking into consideration that the node exposes the proofs in a api and this information is stored onchain(ex: NFT token details) and it will be consumed by different clients we need a way to expose this information.

A solution could be addin

[2019-04-01 11:56] vedhavyas opened #75 "GenerateTree should enforce no duplicate property is present in the tree"
You can manually add leaves to a tree and add an identical property twice. When generating the tree, we should check for any duplicates and throw an error if there are any present. This should apply both for the literal & compact property of the leaves.

Acceptance Criteria:
1) Add code to catch the error and return it.
2) Create two test cases that add two conflicting properties to a tree (one wh

[2019-05-06 09:00] lucasvo commented on #75
Closed in #76

[2019-05-06 09:00] #75 closed

[2019-05-06 09:08] lucasvo commented on #75
@zyfrank thanks for finishing this bounty. We have a few other open ones on gitcoin that I encourage you to check out, for example: https://gitcoin.co/issue/centrifuge/go-centrifuge/876/2690 Feel free to reach out with any questions!

[2019-05-08 13:52] lucasvo opened #77 "Fixed Length Padded Fields"
Precise Proofs should be extended to enable setting a fixed length for the protobuf types that normally do not have a length, `bytes` and `string`.

If any field contains a value that surpasses the length it should raise an error when generating the tree.

There needs to be a new option added to the TreeOptions that specifies whether fixed length values should be left or right padded. If a value i

[2019-05-08 14:25] #74 closed

[2019-05-08 16:54] lucasvo opened #78 "Fixed Size Tree"
There are instances where we want the tree to have a fixed depth so the Merkle proof is always of a fixed length. We can do this by adding empty leaves to the tree to make it a constant size.

An option should be added to `TreeOptions` called `TreeDepth`. If the TreeDepth value is not null, the tree will be extended to have the depth specified in the option. If `AddLeaf` is called on a tree that a

[2019-05-09 09:09] lucasvo opened #80 "Different hash function for leaves"
We want to extend precise-proofs to support hashing the leaves with a different hash function than parent nodes. This should be done by adding another option to TreeOptions that allows specifying a hash function that will be used to flatten protobuf messages and generate the leaves. If this option is not set, the hash function for the tree should be used for hashing the laves as well.

Acceptance

[2019-05-09 11:25] aerophile commented on #78
So if I understood this correctly,  lets say  i have 3 items in my document for which I want a tree depth of 4, Normally 3 items can be done in a tree with tree depth of 3 (assuming root is 1) then to make it level 4, we will need to add 2 or 3 more leaf nodes.

[2019-05-10 00:23] zyfrank commented on #78
@lucasvo  I think TreeDepth should has a upper limit, what about 32?

[2019-05-10 06:54] touhonoob commented on #80
@lucasvo
go-merkle doesn't seem to properly handle the case when a left node is `nil`: instead of directly passing right node to the upper level, it considers left node as empty bytes then produces something like `000000000000000000000000000000000000000000000000000000000000000003187c721dc9913aef26a6cf1677a29a0c1c24229730911e68091eadf8839873` for hashing. Was this on purpose or a bug?

https://gith

[2019-05-10 16:50] #77 closed

[2019-05-12 22:19] #78 closed

[2019-05-21 17:37] lucasvo commented on #80
Fixed in #82

[2019-05-21 22:41] #55 closed

[2019-05-25 03:29] lucasvo opened #86 "Implement a zkSNARK compatible Pedersen hash function in go"
# Pedersen Hashes in Precise Proofs
## Goal
The goal of this project should be to build a tree using precise proofs that uses the Pedersen hash function in a way that is compatible with the implementation in ZoKrates. The tree should have the following features:

1) No sorted hashes
2) Fixed tree size of 2**15 leaves
3) Uses SHA256 for hashing the leaves
4) Uses Pedersen for other hashes

## Imple

[2019-05-31 18:24] zyfrank commented on #86
@gitcoinbot  still work on it

[2019-06-09 19:45] zyfrank commented on #86
@gitcoinbot still working on this

[2019-06-16 00:11] zyfrank commented on #86
@gitcoinbot still work on it

[2019-06-24 00:06] zyfrank commented on #86
@gitcoinbot still work on it

[2019-07-01 16:48] zyfrank commented on #86
@gitcoinbot still work on this

[2019-07-09 16:07] zyfrank commented on #86
@gitcoinbot still work on this

[2019-07-09 18:10] #80 closed

[2019-07-09 18:15] lucasvo opened #88 "Optimize the fixed height tree implementation"
The fixed height tree feature that was added in #82 is not caching duplicated branches of the tree efficiently. When a sub-section of the tree consists of all empty leafs it should use a cache instead of always calculating the maximum number of leaves as shown in the sketch below.

![PHOTO-2019-07-09-20-05-26](https://user-images.githubusercontent.com/31727/60912545-dd614400-a285-11e9-928f-c0db86a

[2019-07-16 07:30] zyfrank commented on #88
@gitcoinbot still work on this

[2019-07-18 02:30] gyley opened #89 "i can't find "GenerateByTwoHashFunc" func in go-merkle"
i can't find "GenerateByTwoHashFunc" func in go-merkle,which is used by file "tree.go" at line 570.
vendor\github.com\centrifuge\precise-proofs\proofs\tree.go:570:27: doctree.merkleTree.GenerateByTwoHashFunc undefined (type merkle.Tree has no field or method GenerateByTwoHashFunc)

[2019-07-18 05:57] lucasvo commented on #89
@mikiquantum I think you last touched this, do you know why?

[2019-07-18 14:36] zyfrank opened #90 "Refactor smt.go and merkle.go of go-merkle so they share same interface"
Sparse merkle tree and normal merkle tree should share same interface, something like:

`
type merkle interface {
   Generate(...)
   CreateMerkleProof(...)
   VerifyMerkleProof(...)
 ....
}
`
So precise-proof just need to deal with one single interface after initialization based on TreeDepth option
Also some code related with merkle proof creation and verification should be moved to go-merkle cod

[2019-07-19 09:01] mikiquantum commented on #89
@gyley we are forking the original xleonard/go-merkle and added functions that we need on top: https://github.com/centrifuge/precise-proofs/blob/master/Gopkg.toml#L39

[2019-07-19 09:30] gyley commented on #89
@mikiquantum i get，thank q

[2019-07-19 09:30] #89 closed

[2019-09-27 11:15] mikiquantum opened #94 "Bridge - Substrate"

[2019-09-27 11:20] mikiquantum opened #95 "NFT bridge changes"
- [privacy-enabled-erc721] __no changes__
- [inv-unpaid]:
    - remove last document version assurance checks
    - go-centrifuge do not generate nextversion proof
    - create new instance of this contract registry passing the new anchorRepository for lookups.

[2019-09-27 11:20] #95 closed

[2019-09-27 12:58] #94 closed

[2019-11-04 00:42] xiaods commented on #88
hi @lucasvo  , the bounty is working now? do i can apply the issue.

[2019-11-06 22:09] xiaods commented on #88
ok. please close this bounty. thanks a lot.

[2020-03-13 12:09] lucasvo commented on #88
@xiaods the bounty is already closed, it's marked as done for a while.

[2020-03-13 12:09] #88 closed

[2020-03-13 12:09] #90 closed

[2020-03-13 12:09] #86 closed